<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>HomePageProductsServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.HomePageProductsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.AddToCartServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.RemoveCartItemServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.CheckoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageProductServlet</servlet-name>
        <url-pattern>/ManageProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductServlet</servlet-name>
        <url-pattern>/ViewProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateDeleteProductServlet</servlet-name>
        <url-pattern>/UpdateDeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteProductServlet</servlet-name>
        <url-pattern>/DeleteProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProductServlet</servlet-name>
        <url-pattern>/UpdateProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveUpdatedProductServlet</servlet-name>
        <url-pattern>/SaveUpdatedProductServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <url-pattern>/CreateCustomerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageServlet</servlet-name>
        <url-pattern>/HomePageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomePageProductsServlet</servlet-name>
        <url-pattern>/HomePageProductsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartServlet</servlet-name>
        <url-pattern>/AddToCartServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItemServlet</servlet-name>
        <url-pattern>/RemoveCartItemServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutServlet</servlet-name>
        <url-pattern>/CheckoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <!-- Mapping for Static Resources -->
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.apache.catalina.servlets.DefaultServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>0</param-value>
        </init-param>
        <init-param>
            <param-name>read-only</param-name>
            <param-value>true</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>ManageStaffServlet</servlet-name>
        <url-pattern>/ManageStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStaffServlet</servlet-name>
        <url-pattern>/ViewStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ManageStaffServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.ManageStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStaffServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.ViewStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.ManageProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.ViewProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateDeleteProductServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.UpdateDeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteProductServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.DeleteProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProductServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.UpdateProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveUpdatedProductServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.SaveUpdatedProductServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCustomerServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.CreateCustomerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomePageServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.HomePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.beauty.skincare.servlet.LoginServlet</servlet-class>
    </servlet>
    <!---Secuirty roles-->
    <security-role>
        <role-name>MANAGER</role-name>
    </security-role>
    <security-role>
        <role-name>STAFF</role-name>
    </security-role>
    <security-role>
        <role-name>CUSTOMER</role-name>
    </security-role>
    <security-role>
        <role-name>GUEST</role-name>
    </security-role>
</web-app>
